# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
env/
ENV/

# Secrets
.env

# IDE / Editor specific
.vscode/
.idea/

# AI Models & Large files
/app/agents/NPC_model/*
/app/agents/story_agent_model/*
/app/agents/ga1_model/*