# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.example

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Sensitive Files (User Request)
connect_aws.sh

spsb.pem
# EC2 전용 파일 (필요 시)


# Local Models & Data
chroma_db/
app/agents/*_model/
app/agents/NPC_model/
app/agents/NPC_model_v2/
app/agents/ga1_model/
app/agents/story_agent_model/
app/agents/ga2_model/
# (임시 데이터 생성 스크립트라면 제외)
app/data/init_data.py

# ab_test_result
/ab_test_results/*
/npc_batch_results/*

/logs
/test/logs/*
/test/test_full_game_flow_result.json