fastapi
uvicorn
motor
pymongo
pydantic-settings
python-dotenv
psutil
pynvml
pytest
httpx
pyjwt  # JWT 인증용
peft>=0.8.2
sentencepiece
tiktoken
langsmith
langchain
langchain-core
langchain-community
langchain-huggingface
langchain_chroma
