fastapi
uvicorn
motor
pymongo
pydantic-settings
python-dotenv
transformers==4.38.2
accelerate==0.27.2
psutil
pynvml
bitsandbytes==0.42.0
pytest
httpx
peft==0.8.2
sentencepiece
tiktoken
langsmith
langchain
langchain-core
langchain-community
langchain-huggingface
langchain_chroma
sentence-transformers==2.5.1
